{% extends 'food/base.html' %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
<body>
    {% block body %}
    {% for item in item_list %}

    <div class="row">
        <div class="col-md-3 offset-md-2">
            <br>
            <img class="card" height="250px" width="300px" src="{{ item.item_image }}"/>
        </div>
    
        <div class="col-md-4">
            <br>
            <h2>{{ item.item_name}}</h2>
            <h6> Agregado por: {{ item.user_name }}</h6>  

        </div>

        <div class="col-md-2">
            <br>
            <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Quiero ver más</a>
        </div>

    </div>

    {% endfor %}
    {% endblock %}  

    <ul>
        <li>
            <a href=> {{item.id}} -- {{item.item_name}}</a> 
        </li>
    </ul>


</body>
</html>